<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <!-- User Profile-->
            <li class="sidebar-item pt-2">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin"
                    aria-expanded="false">
                    <i class="far fa-clock" aria-hidden="true"></i>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/profile"
                    aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="hide-menu">Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/service"
                    aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">Services</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/navbarlink"
                    aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">Navbarlink</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/team"
                    aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">OurTeam</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/testimonials"
                    aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">Testimonials</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/transport"
                    aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">Transport</span>
                </a>
            </li>
        </ul>

    </nav>
    <!-- End Sidebar navigation -->
</div>