<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/demo" method="POST">
        <input type="text" placeholder="Your Name" name="u_name"><br>
        <input type="submit" value="Register">
    </form>
{% for i in context %}
     <h1>{{i}}</h1>
     <button  style='width:50px' >Delete</button>

   
    {% endfor %} 
   
</body>

</html>