<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="container" data-aos="fade-up">

        <div>
          <iframe style="border:0; width: 100%; height: 340px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4 mt-4">


          <div class="col-lg-8">
            <table class="table">
                <caption>List of users</caption>
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for message in msj %}
                  <tr>
                    <td>{{message.id}}</td>
                    <td style="padding-right: 20px">  {{message.name}}</td>
                    <td style="padding-right: 20px">  {{message.email}}</td>
                    <td style="padding-right: 20px">  {{message.message}}</td>
                    <td>
                        <a href="/update/{{message.id}}" style="padding-right: 10px">Update</a>
                        <a href="/delete/{{message.id}}">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
          </div>

        </div>

      </div>

</body>
</html>