{% extends 'admin/base.html' %} 

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add Service</h5>
    <p class="card-text"> 
      <form action='/admin/service' method='POST'>
       
              {{serviceForm.service_title(class_="form-control my-3 ",placeholder='Service Title')}}
              {{serviceForm.service_img(class_="form-control my-3 ",placeholder='Service Image')}}
              {{serviceForm.service_text(class_="form-control my-3 ",placeholder='Service Text')}}
              {{serviceForm.submit(class_="btn btn-primary ",valies='Add service')}}
  

      </form>
   
    </p>
    {{ ckeditor.load() }}
    {{serviceForm.service_text.data | safe}}
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Service list</h5>
    <p class="card-text"> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ServiceTitle</th>
            <th scope="col">ServiceImage</th>
          </tr>
         
        </thead>
        <tbody>
        {% for service in services %}
          <tr>
            <td>{{service.id}}</td>
            <td>{{service.service_title}}</td>
            <td>{{service.service_img}}</td>
            <td>
                <a class=" far fa-trash-alt" style="color:red; margin:10px"   href='/admin/service/delete/{{service.id}}'> Delete </a>
                <a class=" far fa-edit"   href='/admin/service/update/{{service.id}}'> Update </a>
            <td>
          </tr>
        
          {% endfor %}
        </tbody>
      </table>
    </p>
    
  </div>
</div>
{% endblock %}