{% extends 'admin/base.html' %} 

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add new Team</h5>
    <p class="card-text"> 
      <form action='/admin/testimonials' method='POST' enctype="multipart/form-data">
              {{ ckeditor.load() }}
              {{testimonialsForm.name(class_="form-control my-3 ",placeholder='Testimonials Name ')}}
              {{testimonialsForm.img(class_="form-control my-3 ",placeholder='Testimonials image')}}
              {{testimonialsForm.profession(class_="form-control my-3 ",placeholder='Testimonials profession ')}}
              {{testimonialsForm.info(class_="form-control my-3 ",placeholder='Testimonials info')}}
              {{testimonialsForm.order(class_="form-control my-3 ",placeholder='Testimonials order')}}

              <div class="input-group mb-3">
                <label class="form-check-label" for-"flexCheckDefault">
                  {{testimonialsForm.isActive(class_="form-check-input mt-0",type="checkbox")}}
                  Is Active?
                </lable>
              </div>
              {{testimonialsForm.submit(class_="btn btn-primary ",value='Add testimonials')}}
      </form>
    </p>
    
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Testimonial list</h5>
    <p class="card-text"> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Testimonial Name</th>
            <th scope="col">Testimonial profession</th>           
            <th scope="col">Testimonial image</th>
            <th scope="col">Testimonial order</th>
            <th scope="col">Action</th>
          </tr>
         
        </thead>
        <tbody>
        {% for testimonial in testimonials %}
          <tr>
            <td>{{testimonial.id}}</td>
            <td>{{testimonial.name}}</td>
            <td>{{testimonial.profession}}</td>
            <td>
             <img src='/static/uploads/{{testimonial.img}}' class='img-thumbnail' style='width:70px; heigth:70px; object-fit:cover'>
            </td>
            <td>{{testimonial.order}}</td>
            <td>
                <a class=" far fa-trash-alt" style="color:red; margin:10px"  href='/admin/testimonials/delete/{{testimonial.id}}'> Delete </a>
                <a class=" far fa-edit"  href='/admin/testimonials/update/{{testimonial.id}}'> Update </a>
            <td>
          </tr>
        
          {% endfor %}
        </tbody>
      </table>
    </p>
    
  </div>
</div>
{% endblock %}